{% extends 'layout' %}

{% block content %}
    {% set i = 0 %}
    {% for card in cardsProvider.getCards(app.locale) %}
        {% if i % 2 == 0 %}<div class="row">{% endif %}
        <div class="col-lg-6">
            {% include 'card' %}
        </div>
        {% if i % 2 == 1 %}</div>{% endif %}
        {% set i = i + 1 %}
    {% endfor %}
    {% if i % 2 == 1 %}</div>{% endif %}
{% endblock %}
