<section class="card hoverable" data-card="{{ card.id }}">
    <div class="card-content">
        <div class="pull-right">
            <button class="btn btn-primary waves-effect waves-light btn-generate">
                <span class="fa fa-random"></span>
            </button>
            {% if card.hasOptions %}
                <button class="btn btn-link waves-effect waves-dark js-toggle-settings">
                    <span class="fa fa-gears"></span>
                </button>
            {% endif %}
        </div>
        <h4>{{ cl('header') }}</h4>
        <div class="row">
            <div class="input-field col-md-12">
                <input id="{{ card.id }}" type="text" class="card-output">
                <label for="{{ card.id }}">{{ cl('label') }}</label>
            </div>
        </div>
        <div class="card-flag">
            {% include 'flag' with {locale: card.locale} %}
        </div>
    </div>
    {% if card.hasOptions %}
        <div class="card-btn settings hidden">
            {% include 'Card/' ~ card.locale ~ '/' ~ card.name %}
        </div>
    {% endif %}
</section>
