{% extends 'layout' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <section class="card hoverable">
                <div class="card-content text-center">
                    <h4>{{ 'main.error'|l }} {{ code  }}</h4>
                    <div class="row">
                        <a href="{{ route('home') }}">
                            <span class="fa fa-home"></span>
                            {{ 'main.backToHome'|l }}
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}