<!DOCTYPE html>
<html lang="{{ app.locale|slice(0,2) }}">
<head>
    <meta charset="utf-8" />
    <title>{{ 'main.title'|l }}</title>
    <meta name="description" content="{{ 'main.description'|l }}" />
    <meta name="keywords" content="{{ 'main.keywords'|l }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('assetic/gfx/favicon.ico') }}">
    <meta property="og:image" content="http://generator.avris.it/assetic/gfx/screen.png" />
    <link rel="stylesheet" href="{{ asset(assets.css) }}" />
</head>
<body>

<div class="container">
    <div class="row">
        <header class="col-lg-12">
            <h2>Avris Generator</h2>
            <div class="locale-list">
                {% for locale, country in app.locales %}
                    <a href="{{ route('home', {'locale': country|lower}) }}"
                       class="{{ app.locale == locale ? 'btn btn-primary' : 'btn btn-transparent' }}">
                        {% include 'flag' with {locale: locale} %}
                        {{ country }}
                    </a>
                {% endfor %}
            </div>
        </header>

        {% block content %}{% endblock %}

    </div>
</div>

<footer class="rgba-black-light">
    <div class="container">
        <ul class="text-center">
            <li><span class="fa fa-user"></span> Andrzej Prusinowski</li>
            <li><a href="https://avris.it" target="_blank"><span class="fa fa-globe"></span> Avris.it</a></li>
            <li><a href="https://creativecommons.org/licenses/by/3.0/" target="_blank"><span class="fa fa-info-circle"></span> CC-BY</a></li>
            <li><a href="https://gitlab.com/Avris/Generator" target="_blank"><span class="fa fa-git-square"></span> Git</a></li>
        </ul>
    </div>
</footer>

<div class="navbar hidden"></div> {# silences a bug in MDB #}

<script src="{{ route('micrusjs') }}?locale={{ app.locale }}"></script>
<script src="{{ asset(assets['js_' ~ app.locale.__toString]) }}"></script>
</body>
</html>
