body::before
  background-size: cover
  background-attachment: fixed
  background-image: url('gfx/bg.jpg')
  content: ''
  will-change: transform
  z-index: -1
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0

.container
  max-width: 900px

@media (min-width: 1200px)
  header
    h2
      float: left
    .locale-list
      float: right
      position: relative
      top: 24px

@media (max-width: 786px)
  header .locale-list a
    width: calc(100% - 16px)
    margin-top: 0
    margin-bottom: 0
    &:last-child
      margin-bottom: 10px
    &.btn-transparent
      background-color: rgba(255, 255, 255, 0.8)

footer
  margin-top: 72px
  ul
    display: inline-block
    list-style-type: none
    padding: 0
    margin: 36px 0
    width: 100%
    li
      position: relative
      display: inline
      vertical-align: middle
      color: #fff
      a
        color: #fff
        &:hover, &:active
          color: #bbb
      &:before
        content: " "
        margin: 0 16px
      &:first-child:before
        content: " "
        margin: 0
  &.fixed
    position: fixed
    bottom: 0
    width: 100%

.btn
  padding: 6px 18px 3px 18px
  .fa
    font-size: 1.3em
  &.btn-transparent
    color: #000

section.card
  .panel
    font-size: 0.8em
    ul, ol
      margin: 0
  input.card-output
    font-size: 1.6em
  .card-flag
    position: absolute
    right: 24px
    bottom: 8px
    [class^='flag-'], [class*=' flag-']
      -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75)
      -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75)
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.75)
  label.active
    width: calc(100% - 24px)
    &:after
      width: calc(100% - 24px)

.row
  &.row-narrow
    margin: 0
  &.row-margin-bottom
    margin-bottom: 12px
