<div class="row row-narrow">
    <label for="{{ card.id }}_country" class="col-xs-3">{{ cl('option.country') }}</label>
    <div class="col-xs-9">
        <select id="{{ card.id }}_country" data-option="country"></select>
    </div>
</div>
