<div class="row row-margin-bottom">
    <label class="col-xs-6 text-center">
        <input type="radio" name="{{ card.name }}Length" data-option="{{ card.name }}10" value="10"/>
        {{ cl('option.length10') }}
    </label>
    <label class="col-xs-6 text-center">
        <input type="radio" name="{{ card.name }}Length" data-option="{{ card.name }}13" value="13" checked="checked"/>
        {{ cl('option.length13') }}
    </label>
</div>
<div class="row row-narrow">
    <label for="{{ card.id }}_country" class="col-xs-3">{{ cl('option.country') }}</label>
    <div class="col-xs-9">
        <select id="{{ card.id }}_country" data-option="country"></select>
    </div>
</div>
