<div class="col-xs-6">
    <div><label><input type="checkbox" data-option="lower" checked> {{ cl('option.lower') }}</label></div>
    <div><label><input type="checkbox" data-option="upper" checked> {{ cl('option.upper') }}</label></div>
    {% if cl('option.localValue') != '#' %}
        <div><label><input type="checkbox" data-option="local"> {{ cl('option.local') }}</label></div>
    {% endif %}
    <div><label><input type="checkbox" data-option="numbers" checked> {{ cl('option.numbers') }}</label></div>
    <div><label><input type="checkbox" data-option="symbols"> {{ cl('option.symbols') }}</label></div>
</div>
<div class="col-xs-6">
    <div class="input-field">
        <input id="{{ card.id }}_length" type="number" min="5" max="120" value="12" data-option="{{ card.name }}length" class="validate">
        <label for="{{ card.id }}_length">{{ cl('option.length') }}</label>
    </div>
</div>
