<div class="col-md-7">
    <div class="input-field">
        <input id="{{ card.id }}_birthdate" type="text" data-option="birthdate" placeholder="rrrr-mm-dd">
        <label for="{{ card.id }}_birthdate">{{ cl('option.birthdate') }}</label>
    </div>
    <div class="panel panel-default z-depth-1">
        <ul class="panel-body">
            <li><strong>1969</strong> – {{ cl('option.specificYear') }}</li>
            <li><strong>1969-07</strong> – {{ cl('option.specificMonth') }}</li>
            <li><strong>1969-07-12</strong> – {{ cl('option.specificDay') }}</li>
        </ul>
    </div>
</div>
<div class="col-md-5">
    <div class="form-group">
        <label>
            <input type="checkbox" checked="checked" data-option="genderM"/>
            {{ cl('option.male') }}
        </label>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" checked="checked" data-option="genderK"/>
            {{ cl('option.female') }}
        </label>
    </div>
</div>
