<div class="row">
    <label class="col-xs-6 text-center">
        <input type="radio" name="{{ card.id }}Length" data-option="{{ card.name }}9" value="9" checked="checked"/>
        {{ cl('option.length9') }}
    </label>
    <label class="col-xs-6 text-center">
        <input type="radio" name="{{ card.id }}Length" data-option="{{ card.name }}14" value="14"/>
        {{ cl('option.length14') }}
    </label>
</div>
